body {
}

canvas {
    position:absolute;
    left: 0px;
    top: 0px;

}

#scale_inc, #scale_dec {
    position:absolute; 
    height: 36px;
    width: 36px;
    right: 0px;
    margin: 0px;
}

#scale_inc {
    top: 0px;
}
#scale_dec {
    top: 36px;
}

#bars, #info {
    position:absolute; 
    height: 36px;
    width: 36px;
    left: 0px;
    margin: 0px;
}

#bars {
    top: 0px;
}
#info {
    top: 36px;
}
