body {
}

#dialog {
    top: 0px;
    left: 0px;
    width:170px;
}

#ul-keys {
    position:absolute;
    left: 166px;
    width: 64px;
    visibility: hidden;
    z-index:2;
    overflow:hidden; 
    overflow-y:scroll;
    background-color:gainsboro;
}

.li-key {
    height:18px;
    color: darkred;
    font:12px arial;
    padding-left: 20px;
}

canvas {
    position:absolute;
    left: 0px;
    top: 0px;
    z-index:0;
}

#scale-inc, #scale-dec, #request, #info {
    position:absolute; 
    z-index:1;
    height: 36px;
    width: 36px;
    background:rgba(255,255,255,0.5); 
    border: 2px solid gray;
    margin: 0px;    
}


#scale-inc, #scale-dec {
    right: 0px;
}

#scale-inc {
    bottom: 36px;
}
#scale-dec {
    bottom: 0px;
}

#request, #info {
    left: 0px;
}

#request {
    bottom: 36px;
}
#info {
    bottom: 0px;
}


.ui-icon-nureglobe:after {
    background-image: url("pic/nureglobe.png");
    /* Make an icon fit */
    background-size: 20px 20px;
}

.ui-icon-man_w:after {
    background-image: url("pic/man0.png");
    /* Make an icon fit */
    background-size: 8px 20px;
}

.ui-icon-man_b:after {
    background-image: url("pic/man2.png");
    /* Make an icon fit */
    background-size: 8px 20px;
}