body {
}

#dialog {
    top: 200px;

    left: 15px;
    width:170px;
}

#sel_target {
    position:absolute;
    left: 176px;
    width:60px;
    visibility: hidden;
    z-index:2;
    overflow:hidden; 
    overflow-y:scroll;
}

.li-key {
    height:20px;
    background-color:white;
    color: darkred;
    font:12px arial;
    padding-left: 6px;

}

canvas {
    position:absolute;
    left: 0px;
    top: 0px;
    z-index:0;
}

#scale_inc, #scale_dec, #bars, #info {
    position:absolute; 
    z-index:1;
    height: 36px;
    width: 36px;
    background:rgba(255,255,255,0.5); 
    border: 2px solid gray;
    margin: 0px;    
}


#scale_inc, #scale_dec {
    right: 0px;
}

#scale_inc {
    bottom: 36px;
}
#scale_dec {
    bottom: 0px;
}

#bars, #info {
    left: 0px;
}

#bars {
    bottom: 36px;
}
#info {
    bottom: 0px;
}


.ui-icon-nureglobe:after {
    background-image: url("pic/nureglobe.png");
    /* Make an icon fit */
    background-size: 20px 20px;
}

.ui-icon-man_w:after {
    background-image: url("pic/man0.png");
    /* Make an icon fit */
    background-size: 8px 20px;
}

.ui-icon-man_b:after {
    background-image: url("pic/man2.png");
    /* Make an icon fit */
    background-size: 8px 20px;
}